<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="performanceCommentMapper">
	
	<resultMap type="performanceComment" id="performanceComment-resultmap">
		<id column="performance_comment_no" property="performanceCommentNo"/>
		<result column="performance_no" property="performanceNo" />
		<result column="performance_comment_user_id" property="performanceCommentUserId"/>
		<result column="performance_comment" property="performanceComment"/>
		<result column="performance_comment_reg_time" property="performanceCommentRegTime"/>
	</resultMap>
	
	
	<select id="listComment" resultType="performanceComment">
		select performance_comment_no, performance_comment_user_id, performance_comment,performance_comment_reg_time
		from performanceComment
		where performance_no=#{performanceNo}
		order by performance_no
	</select>
	
	
	<insert id="InsertPerformanceComment">
	insert into performance_comment (performance_comment_no, performance_no,performance_comment_user_id, performance_comment, performance_comment_reg_time)
	values(performanceCommentNo_seq.nextval,#{performanceNo},#{performanceCommentUserId},,#{performanceComment},sysdate)
	</insert>
	

	<update id="updatePerformanceComment" parameterType="performanceComment">
		update performanceComment
		<set>
			<if test="performanceComment != null">performance_comment = #{performanceComment}</if>
		</set>
		where performance_comment_no = #{performanceCommentNo}
	</update>
	
	<delete id="deletePerformanceCommentByPerformanceCommentNo" parameterType="_int">
	delete from performnaceComment
	where performance_comment_no=#{performanceCommentNo}
	</delete>

	

</mapper>