<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.buskstop.config.mybatis.mapper.premiumStageImageMapper">
	
	<sql id="premiumImage-column-sql">
		STAGE_IMAGE_NO, STAGE_IMAGE_LOCATION, ESTABLISH_NO
	</sql>
	
	<insert id="insertImage" parameterType="premiumStageImage">
		<selectKey keyProperty="stageImageNum" resultType="int" order="BEFORE">
			SELECT PREMIUM_STAGE_IMAGE_NO_SEQ.nextval FROM dual
		</selectKey>
	
		INSERT INTO PREMIUM_STAGE_IMAGE
		(<include refid="premiumImage-column-sql"/>)
		VALUES (
			#{stageImageNum}, #{stageImageLocation}, #{establishNum}
		)
	</insert>
</mapper>