<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buskstop.config.mybatis.mapper.PremiumStageTimeMapper">
	
	<!--  sql 설정 -->
	<sql id="premiumTime-column-sql">
		TIME_CODE,
		STAGE_RENTAL_DATE,
		RESERVATION_NO
	</sql>
	
	<sql id="premiumTime-select-sql">
		SELECT	<include refid="premiumTime-column-sql"/>
		FROM	PREMIUM_STAGE_RESERVATION_TIME
	</sql>
	
	<resultMap type="PremiumStageTime" id="premiumTime-resultMap">
		<id column="TIME_CODE" property="timeCode"/>
		<result column="STAGE_RENTAL_DATE" property="stageRentalDate"/>
		<result column="RESERVATION_NO" property="reservationNo"/>
	</resultMap>
	
	<insert id="insertPremiumStageTime">
		INSERT INTO PREMIUM_STAGE_RESERVATION_TIME
		VALUES		(#{timeCode},
					 #{stageRentalDate},
					 #{reservationNo})
	</insert>
	
	<select id="selectPremiumStageTimeByReservationNo" parameterType="_int" resultMap="premiumTime-resultMap">
		<include refid="premiumTime-select-sql"/>
		WHERE reservation_no = #{value}
	</select>
</mapper>