<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.buskstop.config.mybatis.mapper.premiumStageMapper">
	
	<sql id="premiumStage-column-sql">
		ESTABLISH_NO,
		OPERATOR_USER_ID,
		OPERATOR_NO,
		STAGE_NAME,
		STAGE_LOCATION,
		STAGE_AREA,
		STAGE_COST,
		STAGE_INSTRUMENT,
		STAGE_CONTENT,
		STAGE_PARKING,
		STAGE_DRINKING,
		STAGE_FOOD_SELL,
		STAGE_FOOD_RESTRICTION,
		STAGE_IMAGE
	</sql>
	
	<resultMap type="PremiumStage" id="premiumStage-resultmap">
		<id column="ESTABLISH_NO" property="establishNum"/>
		<result column="OPERATOR_USER_ID" property="operatorUserId"/>
		<result column="OPERATOR_NO" property="operatorNo"/>
		<result column="STAGE_NAME" property="stageName"/>
		<result column="STAGE_LOCATION" property="stageLocation"/>
		<result column="STAGE_AREA" property="stageArea"/>
		<result column="STAGE_COST" property="stageCost"/>
		<result column="STAGE_INSTRUMENT" property="stageInstrument"/>
		<result column="STAGE_CONTENT" property=""/>
		<result column="STAGE_PARKING" property=""/>
		<result column="STAGE_DRINKING" property=""/>
		<result column="STAGE_FOOD_SELL" property=""/>
		<result column="STAGE_FOOD_RESTRICTION" property=""/>
		<result column="STAGE_IMAGE" property=""/>
	</resultMap>
		
	<insert id="insertPremiumStage" parameterType="PremiumStage">
		INSERT INTO PREMIUM_STAGE
		(<include refid="premiumStage-column-sql"/>)
		VALUES(
			#{establishNum},
			#{operatorUserId},
			#{operatorNo},
			#{stageName},
			#{stageLocation},
			#{stageArea},
			#{stageCost},
			#{stageInstrument},
			#{stageContent},
			#{stageParking},
			#{stageDrinking},
			#{stageFoodSell},
			#{stageFoodRestriction},
			#{stageImage}
		)
	</insert>
	
	<update id="updateStageSupplier" parameterType="PremiumStage">
		UPDATE	STAGE_SUPPLIER
		SET		OPERATOR_USER_ID = #{userId},
				OPERATOR_NO = #{operatorNum},
				STAGE_NAME = #{stageName},
				STAGE_LOCATION = #{stageLocation},
				STAGE_AREA = #{stageArea},
				STAGE_IMAGE = #{stageImage}
		WHERE 	ESTABLISH_NO = #{establishNum}				
	</update>
	
	<select id="selectSupplierById" parameterType="string" resultType="PremiumStage">
		SELECT	<include refid="premiumStage-column-sql"/>
		FROM	PREMIUM_STAGE
		WHERE	OPERATOR_USER_ID = #{userId}
	</select>
</mapper>